*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Montserrat-Regular, sans-serif;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left-side
{
    position: relative;
    background-color: var(--black);
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(255, 255, 255,0.2);
}
.profileText .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img{
    position: obsolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h1{
    color: var(--white);
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 1px;
}
.profileText h1 span{
    font-size: 18px;
    font-weight: 300;
}
.contactinfo{
    padding-top: 30px;
}

.title{
    color: var(--black);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li .icon{
    display: inline-block;
    width: 25px;
    font-size: 18px;
    color: #ffffff;
}
.contactinfo ul li .span{
    color: #000;
    font-weight: 300;
}
.contactinfo.courses li{
    margin-bottom: 15px;
}

.contactinfo.courses h3{
    color: #ffffff;
    font-weight: 500;
}

.container .right-side
{
    position: relative;
    background-color: var(--white);
    padding: 40px;
}

.caption{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.skill{
    padding-top: 15px;
}
.python{
    background-color:rgb(120, 120, 120);
}
.code-python{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 27px;
    color: var(--white)
}

:root {
  --white: #f9f9f9;
  --black: #3638368f;
  --gray: #dadada;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}


